  <div class="container">

  <div class="row">
     <div class="col-md-4">
     <div class="card card-block"
     <h4 class="card-title">Your Account</h4>
  <p class="card-text"> <%= current_user.username %></p>

       </div>
    </div>
  <div class="col-md-8">
   <% if user_signed_in? %>
   <%= link_to 'New Tweet', new_tweet_path %>
    <% end %>
  <ul class="list-group">
       <% @tweets.each do |tweet| %>
<li class="list-group-item">
<%= link_to tweet do %>
   <h5 class="list-group-item-heading"><%= tweet.user.username.try(:id) %></td></h5>

      <p class="list-group-item-text"><%= tweet.content %></td></p>

         <p class="list-group-item-text"><%= link_to 'Show', tweet %></td></p>

           <% if tweet.user == current_user %>
         <p class="list-group-item-text"><%= link_to 'Edit', edit_tweet_path(tweet) %></td></p>
         
      <p class="list-group-item-text"><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td></p>
    <% end %>
   </li>
<% end %>
      <% end %>
         </ul>
       </div>
      </div>
    </div>

